:root {
    --real-vh: 1vh;
    --bg-color-first: rgba(0, 0, 0);
    --bg-color-mid: rgba(20, 20, 90);
    --bg-color-end: rgba(36, 36, 150);
    --card-bg: rgba(255, 255, 255,0.2);
    --card-border: rgba(255, 250, 0);
    --grid-size: 200;
    --grid-line-width: 2;
    --grid-line-color: rgba(255, 192, 203,0.5);
    --grid-highlight-color: rgba(255,255,255,0.2);
    --grid-shadow-color: rgba(0,0,0,0.3);
    --grid-shadow-blur: 4;
    --grid-angle1: 100;
    --grid-angle2: 60;
    --grid-fade-duration: 2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: calc(var(--real-vh,1vh)*100);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(145deg, var(--bg-color-first) 0%, var(--bg-color-mid) 50%, var(--bg-color-end) 100%);
}

.container {
    position: relative;
    min-height: calc(var(--real-vh,1vh)*100);
    display: flex;
    width: 100%;
}

    .container > *:not(.bg-img) {
        position: relative;
        z-index: 1;
    }

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 0;
    opacity: 0.7;
    background-image: url("../assets/Logo-B-0.png");
    background-repeat: no-repeat;
    background-position: -5% 10%;
    background-size: min(30vw, 50vh) auto;
}

.card {
    background: var(--card-bg);
    backdrop-filter: blur(1px);
    border-radius: 12px;
    border: 1px solid var(--card-border);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    width: 100%;
    margin: 0.5%;
}

.body-left {
    flex: 1;
}

.body-right {
    flex: 1;
}

.body-mid {
    flex: 7;
    display: flex;
    flex-direction: column;
}

.head {
    flex: 1;
}

.content {
    flex: 5;
}

#grid-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}

@media (max-width: 1024px) {
    :root {
        --grid-size: 200;
    }

    .bg-img {
        background-position: -5% 10%;
        background-size: min(40vw, 50vh) auto;
    }

    .body-mid {
        flex: 6;
    }
}

@media (max-width: 768px) {
    :root {
        --grid-size: 150;
    }

    .bg-img {
        background-position: -5% 10%;
        background-size: min(40vw, 50vh) auto;
    }

    .body-mid {
        flex: 6;
    }
}

@media (max-width: 425px) {
    :root {
        --grid-size: 100;
    }

    .bg-img {
        background-position: -10% 10%;
        background-size: min(60vw, 70vh) auto;
    }

    .body-mid {
        flex: 5;
    }
}
